#!/usr/bin/env bash
#databank-bin-scripts/env.sh.template

export CAPISTRANO_DIR=$HOME/databank-capistrano

export RAILS_ENV=aws-production
export DATABANK_DIR=$HOME/databank
export DATABANK_HOME=$HOME/databank

export MEDUSA_STORAGE=/media/medusa
export DATABANK_STORAGE=/media/databank

export USER=databank