#!/usr/bin/env bash
#databank-bin-scripts/env.sh.template

export CAPISTRANO_DIR=$HOME/databank-capistrano

# RAILS_ENV needs to be customized per server, and maybe directories too
export RAILS_ENV=demo
export DATABANK_DIR=$HOME/current
export DATABANK_HOME=$HOME/current

export MEDUSA_STORAGE=/media/medusa
export DATABANK_STORAGE=/media/databank

export USER=databank

# crontab files, for the different environments, are found in the databank-bin-scripts repository in the Medusa project on github.
export CRONTAB_FILENAME=crontab-aws-demo