#!/usr/bin/env bash
#databank-bin-scripts/env.sh.template

export CAPISTRANO_DIR=$HOME/databank-capistrano

# RAILS_ENV needs to be customized per server, and maybe directories too
export RAILS_ENV=demo
export DATABANK_DIR=$HOME/current
export DATABANK_HOME=$HOME/current

export MEDUSA_STORAGE=/media/medusa
export DATABANK_STORAGE=/media/databank

export USER=databank

# crontab files, for the different environments, are found in the databank-bin-scripts repository in the Medusa project on github.
export CRONTAB_FILENAME=crontab-aws-demo

#rclone should be configured to have this remote. We should eventually
#be able to do that with IAM roles and in that case to simply 
#copy a correct config file. For now, do by hand. 
export RCLONE_REMOTE=databank-user
export RCLONE_DATABANK_BUCKET=databank-bucket
export RCLONE_MEDUSA_BUCKET=medusa-bucket
export RCLONE_DATABANK_MOUNTPOINT="$HOME/mnt/$RCLONE_BUCKET"
export RCLONE_MEDUSA_MOUNTPOINT="$HOME/mnt/$RCLONE_BUCKET"
export RCLONE_PIDDIR=$HOME/run
export RCLONE_DATABANK_PIDFILE=$RCLONE_PIDDIR/rclone_databank.pid
export RCLONE_DATABANK_PIDFILE=$RCLONE_PIDDIR/rclone_medusa.pid
