#!/usr/bin/env bash
# env.sh

# RAILS_ENV needs to be customized per server, and maybe directories too
export RAILS_ENV=production
export DATABANK_DIR=$HOME/current
export DATABANK_HOME=$HOME/current
export MEDUSA_STORAGE=/media/efs/medusa
export DATABANK_STORAGE=/media/efs/databank
export USER=databank
